<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="../scripts/showTournament.js"></script>
        <script type="text/javascript" src="../scripts/util.js"></script>
    </head>
    <body>
        <h1>{{tournament.name}}</h1><button id='login'>Login as Worker</button>
        <h3>Teams Registered</h3>
        <ul>
            {{#each teams}}
                <li>
                    <a class="team" href="/showTeam?team_id={{this.id}}">{{this.name}}</a>
                </li>
            {{/each}}
        </ul>
        <button id="register-team">Register Team</button>
        <h3>Games for this Tournament</h3>
        <h5>0 means no opponent</h5>
        <ul>
            {{#each games}}
            <li>
                <a class="game" href="/showGame?tourney_id={{this.tournament_id}}&game_id={{this.id}}">Game #{{this.id}}, 
                    Team {{this.team_1_id}} vs Team {{this.team_2_id}}; {{this.game_level}}</a>
            </li>
            {{/each}}
        </ul>
        <button id="make-bracket">Make Bracket</button>
    </body>
</html>